{"name":"Note","slug":"Note","version":"1.0.1","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","backgroundColor":"#311b6b","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"updates":{"fallbackToCacheTimeout":0},"assetBundlePatterns":["**/*"],"ios":{"buildNumber":"1.0.1","supportsTablet":true,"bundleIdentifier":"com.andrewfitzdong.Note"},"android":{"versionCode":1,"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#FFFFFF"}},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"a32162ef-a075-418a-b59d-4fa55fd6bab4"}},"sdkVersion":"46.0.0","platforms":["ios","android","web"],"currentFullName":"@andrewfitzdong/Note","originalFullName":"@andrewfitzdong/Note"}